#checkout-step-payment .form-list label { font-weight:normal; float:none; }
#checkout-step-payment .form-list select { width:80px; }
#checkout-step-payment .form-list ul.form-list { padding:0; }

#checkout-step-payment .form-list #radiogroup-container label { display:block; float:none; margin-bottom:2px; }
#checkout-step-payment .form-list #radiogroup-container label img { height:15px; width:auto; margin-top:1px; }

#checkout-step-payment .form-list .input-box .disabled { display:inline-block; vertical-align:top; margin-left:5px; width:160px; }