#checkout-step-payment .form-list label { font-weight:normal; float:none; }
#checkout-step-payment .form-list select { width:80px; }
#checkout-step-payment .form-list ul.form-list { padding:0; }

#checkout-step-payment .form-list #radiogroup-container label { display:block; float:none; margin-bottom:2px; }
#checkout-step-payment .form-list #radiogroup-container label img { height:15px; width:auto; margin-top:1px; }
#checkout-step-payment .form-list .field { float:none; }
#checkout-step-payment .form-list .disabled { display:inline-block; padding:2px; width:168px; height:15px; line-height:16px; background:#f1f1f1; border:1px solid #b6b6b6; color:#aaa; margin-left:3px; }
#checkout-step-payment .form-list .field-set input.input-text { width:168px; margin-left:3px; }
#checkout-step-payment .form-list .field-set input.l-name { margin:8px 0 0 86px !important; }